# Environment variables
.env
.env.*
!.env.example

# Database files
*.sqlite3
*.sqlite3-journal
db.sqlite3
*.db
*.sql
*.psql

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/