{% load i18n %}

{% block subject %}
{% trans "Account activation on" %} {{ site_name }}
{% endblock subject %}

{% block text_body %}
{% trans "You're receiving this email because you need to finish activation process on" %} {{ site_name }}.

{% trans "Please go to the following page to activate account:" %}
http://localhost:5173/activate/{{ uid }}/{{ token }}

{% trans "Thanks for using our site!" %}

{% trans "Sincerely" %},
{{ site_name }} Team
{% endblock text_body %}

{% block html_body %}
<p>{% trans "You're receiving this email because you need to finish activation process on" %} {{ site_name }}.</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="http://localhost:5173/activate/{{ uid }}/{{ token }}">http://localhost:5173/activate/{{ uid }}/{{ token }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% trans "Sincerely" %},</p>
<p>{{ site_name }} Team</p>
{% endblock html_body %}