{% load i18n %}

{% block subject %}
{% trans "Password reset on" %} {{ site_name }}
{% endblock subject %}

{% block text_body %}
{% trans "You're receiving this email because you requested a password reset for your user account at" %} {{ site_name }}.

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% trans "Sincerely" %},
{{ site_name }} Team
{% endblock text_body %}

{% block html_body %}
<p>{% trans "You're receiving this email because you requested a password reset for your user account at" %} {{ site_name }}.</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<p><a href="https://webify-react-277c68dec1b7.herokuapp.com/{{ url|safe }}">https://webify-react-277c68dec1b7.herokuapp.com/{{ url|safe }}</a></p>

<p>{% trans "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% trans "Sincerely" %},</p>
<p>{{ site_name }} Team</p>
{% endblock html_body %}